@(userCollections: com.fasterxml.jackson.databind.JsonNode)
@import com.fasterxml.jackson.databind.JsonNode;

@dashboard("Create Collection") {
    <div class="col-md-4">
        <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#newCollection" style="cursor : pointer ;">
            New Collection</button>
        </div>
    <div class="col-md-4">
        <button class="btn btn-block btn-warning" onclick="editCollection()" style="cursor : pointer ;">
            Edit Collection</button>
        </div>
    <div class="col-md-4">
        <button class="btn btn-block btn-danger" onclick="removeCollection()" style="cursor : pointer ;">
            Delete Collection</button>
        </div>
    <p class="col-md-12" style="margin-top:10px">Collections</p>
    <div class="col-md-12" style="margin-top:10px">
        <select id="myCollections" data-width="100%">
        @for(name <- userCollections.elements()){
            <option class="col@name.findValuesAsText("id").get(0)">@name.findValuesAsText("name").get(0)</option>
        }
        </select>
   </div>
        <!--<div class="panel panel-default">
            <div class="panel-body">
                <ul id="myCollections" class="list-unstyled">
                    @for(name <- userCollections.elements()){
                        <li>
                            <a href="">@name.findValuesAsText("name").get(0)</a>
                            <button name="col@name.findValuesAsText("id").get(0)" onclick="removeCollection(this.name)" class="badge pull-right label-danger remove">X</button>
                            <button name="col@name.findValuesAsText("id").get(0)" onclick="editCollection(this.name)" class="badge pull-right label-warning">Edit</button>
                        </li>
                    }
                </ul>
            </div>
                <!--<img src="@routes.Assets.at("images/cardback.jpg")" alt="Card unavailable" class="img-responsive img-card" style=" margin-top : 46 px"/>
            <span style="text-align : center ;"><a data-toggle="modal" data-target="#myCard" style="cursor : pointer ;">
                Click here to zoom </a></span>
        </div>-->
    <hr class="hr-content">
    <div class="col-md-12">
        <table id="collection" class="table table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="20%">Type</th>
                    <th width="10%">Edition</th>
                    <th width="5%">Signed</th>
                    <th width="5%">Foil</th>
                </tr>
            </thead>
            <tbody><!--
                <tr>
                    <td width="50%"><a class="btn" rel="popover" data-img="http://mtgjson.com/images/sentriplets.jpg">
                        Image 1</a></td>
                    <td width="20%">Engrishe</td>
                    <td width="10%">EDT</td>
                    <td class="text-center" width="5%"><i class="fa fa-check fa-success"></i></td>
                    <td class="text-center" width="5%"><i class="fa fa-check fa-success"></i></td>
                </tr>-->
            </tbody>
        </table>
    </div><a href="#" id="blob2" class="btn large primary" data-trigger="click"  rel="popover" data-container="body" data-html="true" data-content='<img class="img-responsive" src="http://mtgimage.com/multiverseid/3007.jpg"/>' style="margin-top: 100px">hover for popover</a>

    <div class="modal fade" id="newCollection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    <h4 class="modal-title">Create new collection</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control collection-name" placeholder="Collection name" type="text" name="collection-name">
                    </div>
                    <div class="btn-group collection-privacy" datatoggle="buttons">
                        <label>Who can see this collection?</label><br>
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option1" class="private" checked> Only me
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" class="friends"> Friends
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option3" class="public"> Public
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Allow comments on this collection
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="createNewCollection()">Create</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="myCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <img src="@routes.Assets.at("images/cardback.jpg")" alt="Card unavailable" class="img-responsive img-modal img-card" style="margin : 0 auto ;"/>
            </div>
        </div>
    </div>
}