@(title: String)(content: Html)

@import play.api.Play.resource
@import play.api.Play.current

@main(title) {
	@if(session.contains("islogged") && session.get("islogged").equalsIgnoreCase("true")) {

        <body class="inside-skin">
            <header id="header" class="clearfix">
                    <!-- Logo -->
                <a href="/" class="logo">
                    <img src="@routes.Assets.at("images/yolo.png")" style="max-width: 133px"/>
                </a>

                <ul class="nav nav-pills pull-right shadowed" id="top-menu">
                    <li class="dropdown user user-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@session.get("name")<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                                @if( resource("public/images/avatar/"+ session.get("id") + ".png").isDefined ) {
                                   <img src="@routes.Assets.at("images/avatar/" + session.get("id") + ".png")" class="img-circle" alt="avatar" />
                               } else {
                                <img src="@routes.Assets.at("images/avatar/default-avatar.png")" class="img-circle" alt="avatar" />
                               }

                                <p>
                                @session.get("name")
                                </p>
                            </li>
                            <li class="user-body">
                                <div class="col-xs-6 text-center">
                                    <a href="/followers">Followers</a>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <a href="/following">Following</a>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="@routes.Application.profile("")" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@routes.Application.logout" class="btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>


                <form class="form-inline top-search shadowed col-md-7" action="/searchBar" method="POST">
                    <button id="makeSearch" type="button" ><i class="fa fa-search"></i></button>
                    <input id="text2Search" name="text2Search" type="text" class="form-control" placeholder="Search for anything...">
                </form>
            </header>
            <aside id="leftbar" class="pull-left">
                <div class="sidebar-container hidebar">
                        <!-- Main Menu -->
                    <ul class="side-menu shadowed">
                        <li>
                            <a class="active" href="/timeline"><i class="fa fa-clock-o"></i> <span>Timeline</span></a>
                        </li>
                        <li class="submenu">
                            <a href=""><i class="fa fa-list"></i> My cards</a>
                            <ul>
                                <li><a href="/collections"><i class="fa fa-angle-double-right"></i> Collections</a></li>
                                <li><a href="/decks"><i class="fa fa-angle-double-right"></i> Decks</a></li>
                                <li><a href="/wantlists"><i class="fa fa-angle-double-right"></i> Want List</a></li>
                                <li><a href="/tradelists"><i class="fa fa-angle-double-right"></i> Trade List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/articles"><i class="fa fa-newspaper-o"></i> My Articles</a>
                        </li>
                        <li class="submenu">
                            <a href="/events"><i class="fa fa-calendar"></i> <span> Events</span></a>
                        </li>
                        <li>
                            <a href="/messages"><i class="fa fa-envelope"></i> <span> Messages</span><small class="badge pull-right label-warning">12</small></a>
                        </li>
                        <li>
                            <a href="/search"><i class="fa fa-search-plus"></i> <span> Advanced Search</span></a>
                        </li>
                    </ul>
                </div>
                <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
                    <i class="fa fa-align-justify"></i>

                </span>
            </aside>
            <aside id="rightbar" class="pull-right">
            <div class="sidebar-container hidebar">

            </div>

            <span id="rightbar-toggle" class="hidden-lg sidebar-toggle">
                <i class="fa fa-align-justify"></i>
            </span>
        </aside>
            <section style="" id="content">
                @content
            </section>

	} else {
		<p>Not logged in</p>
	}
}