@(title: String)(content: Html)

@import play.api.Play.resource
@import play.api.Play.current

@main(title) {
	@if(session.contains("islogged") && session.get("islogged").equalsIgnoreCase("true")) {

        <body class="inside-skin">
            <header id="header" class="clearfix">
                    <!-- Logo -->
                <a href="/" class="logo">
                    LOGOTIPO
                </a>

                <ul class="nav nav-pills pull-right shadowed" id="top-menu">
                    <li class="dropdown notifications-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu" style="padding:0">
                            <li class="header">You have 4 messages</li>
                            <li>

                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="User Image"/>
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown friends-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-users"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu" style="padding:0">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="User Image"/>
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown messages-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu" style="padding:0">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="User Image"/>
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown chat-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-comments"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu" style="padding:0">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="User Image"/>
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="@routes.Assets.at("images/avatar.png")" class="img-circle" alt="user image"/>
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu special-open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@session.get("name")<i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                                @if( resource("public/images/avatar/"+ session.get("id") + ".png").isDefined ) {
                                   <img src="@routes.Assets.at("images/avatar/" + session.get("id") + ".png")" class="img-circle" alt="avatar" />
                               } else {
                                <img src="@routes.Assets.at("images/avatar/default-avatar.png")" class="img-circle" alt="avatar" />
                               }

                                <p>
                                @session.get("name")
                                </p>
                            </li>
                            <li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Following</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="@routes.Application.profile("")" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@routes.Application.logout" class="btn btn-default btn-flat">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>


                <form class="form-inline top-search shadowed col-md-7">
                    <button id="makeSearch" type="button" ><i class="fa fa-search"></i></button>
                    <input id="text2Search" type="text" class="form-control" placeholder="Search for anything...">
                </form>
            </header>
            <aside id="leftbar" class="pull-left">
                <div class="sidebar-container hidebar">
                        <!-- Main Menu -->
                    <ul class="side-menu shadowed">
                        <li>
                            <a class="active" href="index.html"><i class="fa fa-clock-o"></i> <span>Timeline</span></a>
                        </li>
                        <li class="submenu">
                            <a href=""><i class="fa fa-list"></i> My cards</a>
                            <ul>
                                <li><a href="@routes.Application.createCollectionData()"><i class="fa fa-angle-double-right"></i> Collections</a></li>
                                <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Decks</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Want List</a></li>
                                <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Trade List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/articles"><i class="fa fa-newspaper-o"></i> My Articles</a>
                        </li>
                        <li class="submenu">
                            <a href="index.html"><i class="fa fa-calendar"></i> <span> Events</span></a>
                        </li>
                        <li>
                            <a href="/messages"><i class="fa fa-envelope"></i> <span> Messages</span><small class="badge pull-right label-warning">12</small></a>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-search-plus"></i> <span> Advanced Search</span></a>
                        </li>
                    </ul>
                </div>
                <span id="leftbar-toggle" class="visible-xs sidebar-toggle">
                    <i class="fa fa-align-justify"></i>

                </span>
            </aside>
            <aside id="rightbar" class="pull-right">
            <div class="sidebar-container hidebar">
                <div class="notification shadowed">
                    <ul class="tab">
                        <li class="active">
                            <a href="#inbox"><i class="fa fa-users"></i> Friends</a>
                        </li>
                    </ul>

                    <div class="tab-content gray-skin">
                        <div class="tab-pane active" id="inbox">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-danger pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-warning pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="@routes.Assets.at("images/avatar.png")" alt="">
                                </a>
                                <div class="media-body">
                                    <a href="#">Tiago Coelho</a>
                                    <span class="label label-success pull-right label-status"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Date + Clock -->


            </div>

            <span id="rightbar-toggle" class="hidden-lg sidebar-toggle">
                <i class="fa fa-align-justify"></i>
            </span>
        </aside>
            <section style="" id="content">
                @content
            </section>

	} else {
		<p>Not logged in</p>
	}
}