@(list: List[User])

@dashboard("Users", 0) {

	<h4>User results</h4>

	@if( list == null || list.size == 0 ) {
		<div class="alert alert-warning" role="alert">No users found.</div>
    } else {
		<table id="searchUsers" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>Username</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			@for(index <- 0 until list.size) {
			<tr>
				<td><a href="@routes.Application.profile("" + list(index).username + "")">@list(index).username</a></td>
				<td>@list(index).name</td>
				<td>@list(index).email</td>
			</tr>
			}

		</table>
	}
	<script>
		$ ( document ).ready ( function ( ) {

			var t = $ ( '#searchUsers' ).DataTable ( {responsive: true}) ;
		});
	</script>
}