@(userRegister: Form[User])

@main("User Register Form") {

    <h1>A simple user registration form</h1>
    @helper.form(action = routes.Application.addUser(), 'id -> "userRegister" ) {
        <fieldset>
            <legend>User Registration Form</legend>
            @helper.inputText(userRegister("name"), 'id -> "username", '_label -> "Username")
            @helper.inputText(userRegister("username"), 'id -> "name", '_label -> "Name")
            @helper.inputPassword(userRegister("password"), 'id -> "password", '_label -> "Password")
            <input type="submit" class="btn primary" value="Register">
        </fieldset>
    }


}
