@(userRegister: Form[User], userLogin: Form[Application.Login])
@import helper._
@implicitField = @{
    FieldConstructor(horizontalForm.f)
}
@**
User is not logged (checked on Application.java)
**@
@main("Home") {
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <section id="home" class="section">
            <div id="banner" class="bg-blur">
                    <!-- Start Header -->
                    <!-- Navigation -->
                <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                                <span class="glyphicon glyphicon-align-justify">
                                </span>
                            </button>
                            <span class="navbar-brand page-scroll logo" href="#page-top">
                                <img src="" alt=""/>
                            </span>
                        </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                            <ul class="nav navbar-nav">
                                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                                <li>
                                    <a class="page-scroll" href="#home">
                                        HOME
                                    </a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#register">
                                        REGISTER
                                    </a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#features">
                                        FEATURES
                                    </a>
                                </li>
                                <li>
                                    <a class="page-scroll" href="#contacts">
                                        CONTACT
                                    </a>
                                </li>
                            </ul>
                        </div>
                            <!-- /.navbar-collapse -->
                    </div>
                        <!-- /.container -->
                </nav>
                    <!-- End Header -->
                <div class="banner-content">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-7 col-sm-7">
                                <h1><strong>MTG</strong> Universe</h1>
                                <div class="video-container">
                                    <iframe width="560" height="315" src="//www.youtube.com/embed/3YzEu6cpteY" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                                <!-- End Header Text -->
                                <!-- Start Banner Optin Form-->
                            <div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-5">
                                <h1>Go!</h1>
                                <div class="banner-form">
                                    <div class="form-title">
                                        <h2>Login now</h2>
                                    </div>
                                    @helper.form(routes.Application.authenticate) {
                                        <div class="form-body">
                                            <div class="form-group">
                                                <input name="username" class="form-control" required="" placeholder="Username" type="text" value="@userLogin("username").value">
                                            </div>
                                            <div class="form-group" style="margin-bottom : 0 ;">
                                                <input name="password" class="form-control" required="" placeholder="Password" type="password" style="margin-bottom : 0 ;" value="@userLogin("password").value">
                                            </div>
                                            <div class="form-group">
                                                <p> <input type="checkbox"> Remember me</p>
                                            </div>
                                            <button type="submit" class="btn btn-default btn-submit">Login</button>
                                            <p> Not a member yet? Register <a href="#">here</a>!</p>
                                            <p> Forget your password? Reset <a href="#">here</a>!</p>
                                        </div>
                                    }
                                </div>
                            </div>
                                <!-- End Banner Optin Form -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section id="register" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="headline">
                            <h2>Join our universe now!</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="banner-form" style="padding-bottom : 20 px">
                        <div class="form-title">
                            <h2>Register now</h2>
                        </div>
                        @helper.form(action = routes.Application.addUser(), 'id -> "userRegister") {
                            <div class="form-body">
                                <div class="form-group col-md-6">
                                @helper.inputText(userRegister("name"), 'id -> "nameReg", 'class -> "form-control", 'placeholder -> "Insert your name", 'required -> "")
                                </div>
                                <div class="form-group col-md-6">
                                @helper.inputText(userRegister("username"), 'id -> "usernameReg", 'class -> "form-control", 'placeholder -> "Choose an username", 'required -> "")
                                </div>
                                <div class="form-group col-md-6">
                                @helper.inputText(userRegister("email"), 'id -> "emailReg", 'class -> "form-control", 'placeholder -> "Insert your email", 'required -> "")
                                </div>
                                <div class="form-group col-md-6">
                                @helper.inputText(userRegister("emailConfirm"), 'id -> "emailRegConfirm", 'class -> "form-control", 'placeholder -> "Confirm your email", 'required -> "")
                                </div>
                                <div class="form-group col-md-6">
                                @helper.inputPassword(userRegister("password"), 'id -> "passReg", 'class -> "form-control", 'placeholder -> "Choose a password", 'required -> "")
                                </div>
                                <div class="form-group col-md-6">
                                @helper.inputPassword(userRegister("passwordConfirm"), 'id -> "passConfReg", 'class -> "form-control", 'placeholder -> "Confirm the password", 'required -> "")
                                </div>
                                <div class="form-group col-md-12">
                                    <p> <input type="checkbox" name="vehicle" value="Bike">
                                        I accept the <a href="#">Tearms and Conditions</a>.</p>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-default btn-submit btn-block">Register</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </section>
        <section id="features" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="headline">
                            <h2>Features</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <!-- How It Works List -->
                        <ul class="steps-list">
                            <li>
                                <span>x</span><!-- Step Number -->
                                <h4>Curabitur risus mi accumsan vitae</h4><!-- Step Title -->
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus etel ultrices posuere cubilia Curae.</p><!-- Step Description -->
                            </li>
                            <li>
                                <span>x</span>
                                <h4>Sed id dignissim lorem consequat</h4>
                                <p>Nunc eu lacus massa, et accumsan erat. Phasellus auct malesuada odio, eu aliquet mi rhoncus quis.</p>
                            </li>
                            <li>
                                <span>x</span>
                                <h4>Nam at imperdiet quam aenean </h4>
                                <p>Proin viverra, felis eget feugiat dignissim, ante ante odio pulvinar, sed blandit diam lectus a risus.</p>
                            </li>
                        </ul>
                            <!-- End How It Works List -->
                    </div>
                    <div class="col-md-6">
                        <ul class="steps-list">
                            <li>
                                <span>x</span><!-- Step Number -->
                                <h4>Curabitur risus mi accumsan vitae</h4><!-- Step Title -->
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus etel ultrices posuere cubilia Curae.</p><!-- Step Description -->
                            </li>
                            <li>
                                <span>x</span>
                                <h4>Sed id dignissim lorem consequat</h4>
                                <p>Nunc eu lacus massa, et accumsan erat. Phasellus auct malesuada odio, eu aliquet mi rhoncus quis.</p>
                            </li>
                            <li>
                                <span>x</span>
                                <h4>Nam at imperdiet quam aenean </h4>
                                <p>Proin viverra, felis eget feugiat dignissim, ante ante odio pulvinar, sed blandit diam lectus a risus.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 center-image">
                        <img src="@routes.Assets.at("images/responsive.png")" class="img-responsive" alt="" title="">
                    </div>
                </div>
            </div>
        </section>
        <section id="contacts" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="headline">
                            <h2>Contact us</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquando posse.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="banner-form" style="padding-bottom : 20 px">
                        <div class="form-body">
                            <form id="banner-form" class="form" method="post" action="form.php">
                                <div class="form-group col-md-6">
                                    <input name="banner-name" id="banner-name" class="form-control" required="" placeholder="Your Name" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <input name="banner-name" id="banner-name" class="form-control" required="" placeholder="Your email" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                    <input name="banner-email" id="banner-email" class="form-control" required="" placeholder="Subject" type="text">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="the-fix" placeholder="Write your message">
                                    </textarea>
                                </div>

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-default btn-submit btn-block">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>
            <!-- Modal -->
        <div class="modal fade" id="forgetPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Recover password</h4>
                    </div>
                    <div class="modal-body">
                    @helper.form(action = routes.Application.recover()) {
                        <div class="form-group">
                            <label for="email" class="col-lg-2">Email</label>
                            <div class="col-lg-10">
                                <input class="form-control" id="email" name="email" placeholder="Insert your email" type="email">
                                <input type="submit" class="btn primary" value="Recover">
                            </div>
                        </div>
                    }
                    </div>
                    <div class="modal-footer">
                        We will send to your email information to recover the password.
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        // jQuery to collapse the navbar on scroll
        $ ( window ).scroll ( function ( ) {
         if ( $ ( ".navbar" ).offset ( ).top > 50 ) {
            $ ( ".navbar-fixed-top" ).addClass ( "top-nav-collapse" ) ;
         } else {
            $ ( ".navbar-fixed-top" ).removeClass ( "top-nav-collapse" ) ;
         }
        } ) ;
        </script>
}