@(elements: views.html.helper.FieldElements)

@import views.html.helper._

<div class="input-group @if(elements.hasErrors) {error}">
    <span class="input-group-addon input-group-addon-xs">
        <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" class="form-control form-control-xs" placeholder="Insert your username">
    @elements.input
    @if(elements.hasErrors){
        <span class="help-inline">@elements.errors.mkString(", ")</span>
    }else{
        <span class="help-inline">@elements.infos.mkString(", ")</span>
    }
</div>